<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--<add key ="Mode" value ="Daily"/>-->
    <!--<add key ="ScheduledTime" value ="12:27"/>-->
    <add key="Apppath" value="C:\ServiceLog.txt" />
    <add key="Mode" value="Interval" />
    <add key="IntervalMinutes" value="30" />
    <add key="FilePath" value="E:\Verifone-Service\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="StoreLocationID" value="0413"/>
    <add key="VendorName" value="VeriFone"/>
    <add key="VendorModelVersion" value="Commander Site Controller"/>
    <add key="MixMatchVersion" value="3.4"/>
    <add key="SMTPFROM" value="noreply@rapidrms.com"/>
    <add key="SMTPFROMPWD" value="Rapid$321"/>
    <add key="SMTPIP" value="smtp.gmail.com"/>
    <add key="SMTPPORT" value="587"/>
    <add key="MailTo" value="bimal.rathod@siyainfo.com"/>
  </appSettings>
  <connectionStrings>
    <add name="RetailConnection" connectionString="Data Source=DataSource;Initial Catalog=Database;User ID=UserId;Password=SqlPassword; Connect Timeout=200; pooling='true'; Max Pool Size=200;" providerName="System.Data.SqlClient" />
    <add name="RapidRMSConnection" connectionString="Data Source=eastrmsstaging.eastus.cloudapp.azure.com, 20193;Initial Catalog=RapidRMS;User ID=nirp86;Password=2%DaBLt1; Connect Timeout=200; pooling='true'; Max Pool Size=200;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>